@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ExtraBold.woff2') format('woff2'),
        url('../fonts/Averta-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../fonts/Averta-Extrathin.woff2') format('woff2'),
        url('../fonts/Averta-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Averta-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../fonts/Averta-ExtrathinItalic.woff2') format('woff2'),
        url('../fonts/Averta-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Regular.woff2') format('woff2'),
        url('../fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-LightItalic.woff2') format('woff2'),
        url('../fonts/Averta-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Light.woff2') format('woff2'),
        url('../fonts/Averta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Semibold.woff2') format('woff2'),
        url('../fonts/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-RegularItalic.woff2') format('woff2'),
        url('../fonts/Averta-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Averta-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Thin.woff2') format('woff2'),
        url('../fonts/Averta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Black.woff2') format('woff2'),
        url('../fonts/Averta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-BlackItalic.woff2') format('woff2'),
        url('../fonts/Averta-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ThinItalic.woff2') format('woff2'),
        url('../fonts/Averta-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Bold.woff2') format('woff2'),
        url('../fonts/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-BoldItalic.woff2') format('woff2'),
        url('../fonts/Averta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

