@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ExtraBold.woff2') format('woff2'),
        url('../fonts/Averta-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../fonts/Averta-Extrathin.woff2') format('woff2'),
        url('../fonts/Averta-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Averta-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../fonts/Averta-ExtrathinItalic.woff2') format('woff2'),
        url('../fonts/Averta-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Regular.woff2') format('woff2'),
        url('../fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-LightItalic.woff2') format('woff2'),
        url('../fonts/Averta-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Light.woff2') format('woff2'),
        url('../fonts/Averta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Semibold.woff2') format('woff2'),
        url('../fonts/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-RegularItalic.woff2') format('woff2'),
        url('../fonts/Averta-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Averta-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Thin.woff2') format('woff2'),
        url('../fonts/Averta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Black.woff2') format('woff2'),
        url('../fonts/Averta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-BlackItalic.woff2') format('woff2'),
        url('../fonts/Averta-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-ThinItalic.woff2') format('woff2'),
        url('../fonts/Averta-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Bold.woff2') format('woff2'),
        url('../fonts/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-BoldItalic.woff2') format('woff2'),
        url('../fonts/Averta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


.max-740 {
    max-width: 905px;
    width: 100%;
}
.title-main {
    h1 {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 80px;
        position: relative;
        color: #034853;
        img {
            position: absolute;
            top: 28px;
            right: 0;
        }
    }
}

.cb-input_light-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 59px;
    width: 300%;
    -webkit-transform: translateX(-66.66%);
    -moz-transform: translateX(-66.66%);
    -ms-transform: translateX(-66.66%);
    -o-transform: translateX(-66.66%);
    transform: translateX(-66.66%);
    opacity: 0.1;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjAwIDYwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIGQ9Ik0wLDU2LjVjMCwwLDI5OC42NjYsMCwzOTkuMzMzLDBDNDQ4LjMzNiw1Ni41LDUxMy45OTQsNDYsNTk3LDQ2Yzc3LjMyNywwLDEzNSwxMC41LDIwMC45OTksMTAuNWM5NS45OTYsMCw0MDIuMDAxLDAsNDAyLjAwMSwwIj48L3BhdGg+PC9zdmc+);
    background-position: center bottom;
    pointer-events: none;
    -webkit-transition: opacity 0.4s, -webkit-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
    transition: opacity 0.4s, -webkit-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
    -o-transition: opacity 0.4s, -o-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
    -moz-transition: transform 0s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.4s, -moz-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
    transition: transform 0s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.4s;
    transition: transform 0s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.4s, -webkit-transform 0s cubic-bezier(0, 0.25, 0.5, 1), -moz-transform 0s cubic-bezier(0, 0.25, 0.5, 1), -o-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
}
.cb-input_light-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}
.cb-input_light-message {
    margin: 15px 0 0 0;
    color: #eb4242;
    font-size: 16px;
    line-height: 25px;
}
.cb-input_light-message:empty {
    display: none;
}
.cb-input_light input,
.cb-input_light textarea {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    z-index: 1;
    color: #101725;
    background: 0 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    -webkit-transition: all 0.3s, height 0s;
    -o-transition: all 0.3s, height 0s;
    -moz-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;
}
.cb-input_light input::-webkit-input-placeholder,
.cb-input_light textarea::-webkit-input-placeholder {
    color: #b6b9be;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.cb-input_light input:-moz-placeholder,
.cb-input_light textarea:-moz-placeholder {
    color: #b6b9be;
    opacity: .5;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
.cb-input_light input::-moz-placeholder,
.cb-input_light textarea::-moz-placeholder {
    color: #b6b9be;
    opacity: .5;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
.cb-input_light input:-ms-input-placeholder,
.cb-input_light textarea:-ms-input-placeholder {
    color: #b6b9be;
    opacity: .5;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}
.cb-input_light input::-ms-input-placeholder,
.cb-input_light textarea::-ms-input-placeholder {
    color: #b6b9be;
    opacity: .5;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}
.cb-input_light input::placeholder,
.cb-input_light textarea::placeholder {
    color: #b6b9be;
    opacity: .5;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
.cb-input_light input:hover + .cb-input_light-line,
.cb-input_light textarea:hover + .cb-input_light-line {
    opacity: 0.6;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-input_light input:focus::-webkit-input-placeholder,
.cb-input_light textarea:focus::-webkit-input-placeholder {
    color: #b3b3b3;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box:-moz-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box:-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box:-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box:-moz-placeholder,
.cb-input_light input:focus:-moz-placeholder,
.cb-input_light textarea:focus:-moz-placeholder {
    color: #b3b3b3;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::-moz-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::-moz-placeholder,
.cb-input_light input:focus::-moz-placeholder,
.cb-input_light textarea:focus::-moz-placeholder {
    color: #b3b3b3;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-input_light input:focus:-ms-input-placeholder,
.cb-input_light textarea:focus:-ms-input-placeholder {
    color: #b3b3b3;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-input_light input:focus::-ms-input-placeholder,
.cb-input_light textarea:focus::-ms-input-placeholder {
    color: #b3b3b3;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::placeholder,
.cb-input_light input:focus::placeholder,
.cb-input_light textarea:focus::placeholder {
    color: #b3b3b3;
}
.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-input_light input:focus + .cb-input_light-line,
.cb-input_light textarea:focus + .cb-input_light-line {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-duration: 0.8s, 0.4s;
    -moz-transition-duration: 0.8s, 0.4s;
    -o-transition-duration: 0.8s, 0.4s;
    transition-duration: 0.8s, 0.4s;
}
.cb-input_light input:invalid,
.cb-input_light textarea:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}
.cb-input_light input:disabled,
.cb-input_light textarea:disabled {
    opacity: 0.4;
    pointer-events: none;
}
.cb-input_light textarea {
    height: 100px;
}
.cb-input_light textarea::placeholder {
    line-height: 1.2;
}

.cb-form-group {
    margin-bottom: 100px;
    &:last-child {
        margin-bottom: 0;
    }
} 
.btn-form {
    cursor: pointer;
    border: 0;
    font-size: 40px;
    color: #11AF88;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: .4s all;
    padding-left: 15px;
    svg {
        margin-right: 15px;
    }
    &:hover {
        transition: .4s all;
        transform: scale(1.02);
    }
}
.title-form {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
    span {
        display: block;
        font-size: 20px;
        padding: 10px 0;
        color: #0A52C2;
    }
    p {
        display: flex;
        align-items: center;
        img {
            margin-right: 18px;
        }
    }
}
.list-form {
    padding-bottom: 150px;
}
.content-result {
    max-width: 918px;
    margin: 0 auto;
}
.result {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
}
.content-result {
    .avarta {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    .desc {
        p {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 60px;
            color: #034853;
        }
        a {
            font-size: 32px;
            font-weight: 700;
        }
    }
}

.logo-dark {
    display: none;
}
footer {
    background: #031c2c;
    color: #fff;
}
.content-fppter {
    padding: 36px 0;
    // border-top: 1px solid rgb(255 255 255 / 20%); 
}
.fter-top {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}
.fter-bot {
    font-weight: 400;
    font-size: 14px;
    li {
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
        a {
            color: #fff;
        }
    }
}