
@font-face {
    font-family: 'Averta';
    src: url('../fonts/AvertaDemo-Regular.woff2') format('woff2'),
        url('../fonts/AvertaDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/AvertaDemo-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/AvertaDemo-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

