* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-ExtraBold.woff2") format("woff2"), url("../fonts/Averta-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta Extrathin";
  src: url("../fonts/Averta-Extrathin.woff2") format("woff2"), url("../fonts/Averta-Extrathin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Averta-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta Extrathin";
  src: url("../fonts/Averta-ExtrathinItalic.woff2") format("woff2"), url("../fonts/Averta-ExtrathinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Regular.woff2") format("woff2"), url("../fonts/Averta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-LightItalic.woff2") format("woff2"), url("../fonts/Averta-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Light.woff2") format("woff2"), url("../fonts/Averta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Semibold.woff2") format("woff2"), url("../fonts/Averta-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-RegularItalic.woff2") format("woff2"), url("../fonts/Averta-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-SemiboldItalic.woff2") format("woff2"), url("../fonts/Averta-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Thin.woff2") format("woff2"), url("../fonts/Averta-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Black.woff2") format("woff2"), url("../fonts/Averta-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-BlackItalic.woff2") format("woff2"), url("../fonts/Averta-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-ThinItalic.woff2") format("woff2"), url("../fonts/Averta-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Bold.woff2") format("woff2"), url("../fonts/Averta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-BoldItalic.woff2") format("woff2"), url("../fonts/Averta-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.max-740 {
  max-width: 905px;
  width: 100%;
}

.title-main h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 80px;
  position: relative;
  color: #034853;
}
.title-main h1 img {
  position: absolute;
  top: 28px;
  right: 0;
}

.cb-input_light-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 59px;
  width: 300%;
  -webkit-transform: translateX(-66.66%);
  -moz-transform: translateX(-66.66%);
  -ms-transform: translateX(-66.66%);
  -o-transform: translateX(-66.66%);
  transform: translateX(-66.66%);
  opacity: 0.1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjAwIDYwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIGQ9Ik0wLDU2LjVjMCwwLDI5OC42NjYsMCwzOTkuMzMzLDBDNDQ4LjMzNiw1Ni41LDUxMy45OTQsNDYsNTk3LDQ2Yzc3LjMyNywwLDEzNSwxMC41LDIwMC45OTksMTAuNWM5NS45OTYsMCw0MDIuMDAxLDAsNDAyLjAwMSwwIj48L3BhdGg+PC9zdmc+);
  background-position: center bottom;
  pointer-events: none;
  -webkit-transition: opacity 0.4s, -webkit-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
  transition: opacity 0.4s, -webkit-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
  -o-transition: opacity 0.4s, -o-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
  -moz-transition: transform 0s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.4s, -moz-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
  transition: transform 0s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.4s;
  transition: transform 0s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.4s, -webkit-transform 0s cubic-bezier(0, 0.25, 0.5, 1), -moz-transform 0s cubic-bezier(0, 0.25, 0.5, 1), -o-transform 0s cubic-bezier(0, 0.25, 0.5, 1);
}

.cb-input_light-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.cb-input_light-message {
  margin: 15px 0 0 0;
  color: #eb4242;
  font-size: 16px;
  line-height: 25px;
}

.cb-input_light-message:empty {
  display: none;
}

.cb-input_light input,
.cb-input_light textarea {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
  color: #101725;
  background: 0 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 0;
  resize: none;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  -webkit-transition: all 0.3s, height 0s;
  -o-transition: all 0.3s, height 0s;
  -moz-transition: all 0.3s, height 0s;
  transition: all 0.3s, height 0s;
}

.cb-input_light input::-webkit-input-placeholder,
.cb-input_light textarea::-webkit-input-placeholder {
  color: #b6b9be;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.cb-input_light input:-moz-placeholder,
.cb-input_light textarea:-moz-placeholder {
  color: #b6b9be;
  opacity: 0.5;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

.cb-input_light input::-moz-placeholder,
.cb-input_light textarea::-moz-placeholder {
  color: #b6b9be;
  opacity: 0.5;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

.cb-input_light input:-ms-input-placeholder,
.cb-input_light textarea:-ms-input-placeholder {
  color: #b6b9be;
  opacity: 0.5;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}

.cb-input_light input::-ms-input-placeholder,
.cb-input_light textarea::-ms-input-placeholder {
  color: #b6b9be;
  opacity: 0.5;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}

.cb-input_light input::placeholder,
.cb-input_light textarea::placeholder {
  color: #b6b9be;
  opacity: 0.5;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

.cb-input_light input:hover + .cb-input_light-line,
.cb-input_light textarea:hover + .cb-input_light-line {
  opacity: 0.6;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::-webkit-input-placeholder,
.cb-input_light input:focus::-webkit-input-placeholder,
.cb-input_light textarea:focus::-webkit-input-placeholder {
  color: #b3b3b3;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box:-moz-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box:-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box:-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box:-moz-placeholder,
.cb-input_light input:focus:-moz-placeholder,
.cb-input_light textarea:focus:-moz-placeholder {
  color: #b3b3b3;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::-moz-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::-moz-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::-moz-placeholder,
.cb-input_light input:focus::-moz-placeholder,
.cb-input_light textarea:focus::-moz-placeholder {
  color: #b3b3b3;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box:-ms-input-placeholder,
.cb-input_light input:focus:-ms-input-placeholder,
.cb-input_light textarea:focus:-ms-input-placeholder {
  color: #b3b3b3;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::-ms-input-placeholder,
.cb-input_light input:focus::-ms-input-placeholder,
.cb-input_light textarea:focus::-ms-input-placeholder {
  color: #b3b3b3;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box::placeholder,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box::placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box::placeholder,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box::placeholder,
.cb-input_light input:focus::placeholder,
.cb-input_light textarea:focus::placeholder {
  color: #b3b3b3;
}

.cb-checkbox_rounded .cb-input_light label > input:focus ~ input.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-checkbox_rounded .cb-input_light label > input:focus ~ textarea.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ input.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-input_light .cb-checkbox_rounded label > input:focus ~ textarea.cb-checkbox_rounded-box + .cb-input_light-line,
.cb-input_light input:focus + .cb-input_light-line,
.cb-input_light textarea:focus + .cb-input_light-line {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-duration: 0.8s, 0.4s;
  -moz-transition-duration: 0.8s, 0.4s;
  -o-transition-duration: 0.8s, 0.4s;
  transition-duration: 0.8s, 0.4s;
}

.cb-input_light input:invalid,
.cb-input_light textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.cb-input_light input:disabled,
.cb-input_light textarea:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.cb-input_light textarea {
  height: 100px;
}

.cb-input_light textarea::placeholder {
  line-height: 1.2;
}

.cb-form-group {
  margin-bottom: 100px;
}
.cb-form-group:last-child {
  margin-bottom: 0;
}

.btn-form {
  cursor: pointer;
  border: 0;
  font-size: 40px;
  color: #11AF88;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.4s all;
  padding-left: 15px;
}
.btn-form svg {
  margin-right: 15px;
}
.btn-form:hover {
  transition: 0.4s all;
  transform: scale(1.02);
}

.title-form {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
}
.title-form span {
  display: block;
  font-size: 20px;
  padding: 10px 0;
  color: #0A52C2;
}
.title-form p {
  display: flex;
  align-items: center;
}
.title-form p img {
  margin-right: 18px;
}

.list-form {
  padding-bottom: 150px;
}

.content-result {
  max-width: 918px;
  margin: 0 auto;
}

.result {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
}

.content-result .avarta {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 55px;
}
.content-result .desc p {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 60px;
  color: #034853;
}
.content-result .desc a {
  font-size: 32px;
  font-weight: 700;
}

.logo-dark {
  display: none;
}

footer {
  background: #031c2c;
  color: #fff;
}

.content-fppter {
  padding: 36px 0;
}

.fter-top {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
}

.fter-bot {
  font-weight: 400;
  font-size: 14px;
}
.fter-bot li {
  padding-right: 30px;
}
.fter-bot li:last-child {
  padding-right: 0;
}
.fter-bot li a {
  color: #fff;
}

body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  transition: 0.3s all;
  position: relative;
  font-weight: 400;
  font-family: "Averta";
  overflow-x: hidden;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
  text-decoration: none !important;
  transition: 0.3s all;
  margin-bottom: 0;
  outline: none !important;
}
body a {
  transition: 0.3s all !important;
  color: #000000;
}
body ul {
  padding: 0;
  margin: 0;
}
body input, body button {
  outline: none !important;
  box-shadow: none;
  transition: 0.3s all;
}
body .slick-slide {
  height: auto;
}
body .slick-slide img {
  display: inline;
}
body .container {
  width: 100%;
  max-width: 1150px;
}
body img {
  max-width: 100%;
}

html {
  overflow: hidden;
}
html.un-hidd {
  overflow: auto;
  overflow-x: hidden;
}

.header-top {
  padding: 15px 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s all;
}
.header-top.fixed {
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
.header-top.up-menu {
  top: -66px;
}

.translate ul {
  display: inline-flex;
  background: #0C9681;
  list-style: none;
  padding: 4px;
  border-radius: 30px;
  position: relative;
}
.translate ul li {
  margin-right: 2px;
}
.translate ul li:last-child {
  margin-right: 0;
}
.translate ul:after {
  content: "";
  width: 28px;
  height: 28px;
  background: #CDFBDE;
  border-radius: 100%;
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: 1;
  transition: 0.4s all !important;
}
.translate ul.active:after {
  left: 35px;
}
.translate a {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}
.translate a.active {
  color: #034853;
  pointer-events: none;
}

.btn-apply {
  transition: 0.4s all;
}
.btn-apply a {
  font-weight: 700;
  font-size: 24px;
  color: #11AF88;
  display: inline-flex;
  align-items: center;
}
.btn-apply a svg {
  margin-right: 16px;
}
.btn-apply a:hover {
  transform: scale(1.05);
}

.box-banner {
  position: relative;
}
.box-banner .img-main {
  width: 100%;
}
.box-banner .img-bn {
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 0;
}
.box-banner .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  z-index: 10;
}
.box-banner .caption h1 {
  color: #034853;
  max-width: 678px;
  font-weight: 800;
  font-size: 56px;
  margin-bottom: 50px;
  transition: 0.4s all;
}

.box-about {
  background: #11af88;
  background-size: cover;
  padding: 65px 0;
  position: relative;
  z-index: 3;
}

.tree .tree-1 {
  position: absolute;
  top: -200px;
  left: -30px;
  z-index: 1;
}
.tree .tree-2 {
  position: absolute;
  right: 0;
  top: -340px;
  z-index: 2;
  transform: rotate(-3deg);
}

.abs-top {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
}
.abs-top img {
  height: 50px;
  object-fit: cover;
}

.txt-about {
  position: relative;
  z-index: 2;
}

.box-tabs {
  position: relative;
  z-index: 2;
}
.box-tabs .tab-content {
  display: none;
}
.box-tabs .tab-content.active {
  display: block;
}
.box-tabs .tab-content ul {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
}
.box-tabs .tab-content ul label {
  font-weight: 400;
  font-size: 14px;
  display: block;
}
.box-tabs .tab-content ul li {
  line-height: 1.5;
  margin-bottom: 15px;
}
.box-tabs .tab-content ul li:last-child {
  margin-bottom: 0;
}

.tab-about {
  background: #fff;
  padding: 40px;
  border-radius: 24px;
  position: relative;
  z-index: 2;
  min-height: 455px;
}

.about-right {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
.about-right .desc {
  font-weight: 600;
  line-height: 1.8;
}
.about-right .title {
  margin-bottom: 50px;
}
.about-right .title h2 {
  font-size: 32px;
  color: #034853;
}

.abs-flow img {
  position: absolute;
  bottom: 50px;
  z-index: 1;
}
.abs-flow .flow-1 {
  left: 0;
}
.abs-flow .flow-2 {
  right: 0;
}

.title h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.title h2 {
  font-size: 48px;
  font-weight: 700;
}

.head-tabs {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 22px 0;
  position: relative;
  margin-bottom: 32px;
}
.head-tabs:after {
  content: "";
  width: 100%;
  height: 4px;
  background: #F3F3F4;
  border-radius: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.head-tabs li {
  display: flex;
  align-items: center;
  transition: 0.4s all;
  cursor: pointer;
  position: relative;
}
.head-tabs li:after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 42px;
  background: #11AF88;
  position: absolute;
  left: 0;
  bottom: -22px;
  z-index: 1;
  transition: 0.4s all !important;
  opacity: 0;
}
.head-tabs li.active, .head-tabs li:hover {
  transition: 0.4s all;
}
.head-tabs li.active .icon, .head-tabs li:hover .icon {
  background: #11AF88;
  transition: 0.4s all;
}
.head-tabs li.active .info, .head-tabs li:hover .info {
  color: #3E4553;
}
.head-tabs li.active .info label, .head-tabs li:hover .info label {
  color: #034853;
}
.head-tabs li.active:after, .head-tabs li:hover:after {
  opacity: 1;
}
.head-tabs .icon {
  background: #696E78;
  transition: 0.4s all;
  flex: 0 0 42px;
  width: 100%;
  display: flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 8px;
}
.head-tabs .info {
  color: #696E78;
}
.head-tabs .info span {
  font-size: 14px;
}
.head-tabs .info label {
  font-weight: 700;
  line-height: 1;
}

.box-discover {
  padding: 80px 0;
  background: #031C2C;
  color: #fff;
}
.box-discover .title {
  margin-bottom: 40px;
}
.box-discover .col-md-4 {
  padding: 15px;
}

.item-discover {
  border-radius: 16px;
  background: #fff;
  color: #101725;
  height: 100%;
  overflow: hidden;
}
.item-discover:hover img {
  opacity: 0;
}
.item-discover .avarta {
  overflow: hidden;
  position: relative;
  border-radius: 16px 16px 0 0;
}
.item-discover .avarta img {
  transition: 0.6s all !important;
  position: relative;
  z-index: 2;
}
.item-discover .avarta img:hover {
  opacity: 0;
}
.item-discover .avarta lottie-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px 16px 0 0;
}
.item-discover .info {
  padding: 24px;
}
.item-discover .desc {
  font-weight: 600;
  font-size: 14px;
  color: #696E78;
}
.item-discover h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.list-discover {
  margin-bottom: 65px;
}

.slot-cover a {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 600;
  display: inline-flex;
  line-height: 1.4;
}
.slot-cover a:hover {
  opacity: 1;
}

.box-intro {
  padding: 90px 0;
  background: #FAFAFA;
}
.box-intro .title {
  margin-bottom: 40px;
  color: #034853;
}
.box-intro .row {
  margin: 0 -55px;
}
.box-intro .row .col-md-6 {
  padding: 0 55px;
}

.item-intro .icon {
  margin-bottom: 30px;
}
.item-intro h3 {
  color: #034853;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}
.item-intro .desc {
  color: #034853;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.8;
}
.item-intro .desc p {
  margin-bottom: 20px;
}
.item-intro .desc p:last-child {
  margin-bottom: 0;
}

.box-intership {
  background: #031C2C;
  padding: 80px 0 64px 0;
}

.inter-left {
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
  color: #034853;
  font-size: 18px;
  font-weight: 600;
}
.inter-left .avarta {
  overflow: hidden;
}
.inter-left .avarta img {
  transition: 0.6s all !important;
}
.inter-left .avarta img:hover {
  transform: scale(1.06);
}
.inter-left .info {
  padding: 24px;
}
.inter-left .info ul {
  list-style: none;
}
.inter-left .info ul li {
  margin-bottom: 6px;
}
.inter-left .info ul li:last-child {
  margin-bottom: 0;
}

.txt-inter {
  color: #fff;
  padding-left: 31px;
}
.txt-inter h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}
.txt-inter h2 span {
  color: #11AF88;
}
.txt-inter .desc {
  font-weight: 600;
  margin-bottom: 28px;
}
.txt-inter .head-tabs {
  margin-bottom: 65px;
  padding-bottom: 0;
}
.txt-inter .head-tabs:after {
  display: none;
}
.txt-inter .head-tabs label, .txt-inter .head-tabs span {
  color: #fff !important;
}
.txt-inter .head-tabs li:after {
  display: none;
}
.txt-inter .head-tabs li span, .txt-inter .head-tabs li label {
  color: #fff !important;
}
.txt-inter .head-tabs li .icon {
  background: #696E78 !important;
}

.form-studio {
  padding-top: 200px;
}

.link-inter {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  background: #11AF88;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  overflow: hidden;
  position: relative;
  transition-duration: 0.3s;
  z-index: 1001;
}
.link-inter label {
  cursor: pointer;
  z-index: 10;
}

.link-inter:hover {
  color: #11af88;
}

.link-inter span {
  content: "";
  border-radius: 50%;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
  background: #fff;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.link-inter:hover span {
  width: 1400px;
  height: 1400px;
  opacity: 1;
  opacity: 1;
}

.loading-svg {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
  transition: 0.3s all !important;
}
.loading-svg.hide-load {
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
