*{margin: 0; padding: 0; box-sizing: border-box;}
@import "fonts.scss";
$font: 'FontAwesome';  
$red: #EA0A2A;
body {
    box-sizing: border-box;
    color: #000000;
    padding: 0 !important; 
    font-size: 16px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative;
    font-weight: 400;
    font-family: 'Averta';
    overflow-x: hidden; 
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;       
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;  
    }     
    a { 
        transition: .3s all !important;  
        color: #000000;
        &:hover { 
        }    
    } 
    ul {    
        padding: 0; 
        margin: 0;  
    }     
    input, button {   
        outline: none !important; 
        box-shadow: none; 
        transition: .3s all; 
    }
    .slick-slide {
        height: auto;  
        img { 
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1150px;
    } 
    img {
        max-width: 100%;
    } 
} 
html {
    overflow: hidden;
    &.un-hidd {
        overflow: auto;
        overflow-x: hidden;
    }
}
.header-top {
    padding: 15px 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    // background: rgb(255 255 255 / 50%); 
    transition: .4s all;
    &.fixed {
        background: #fff;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 5%);
    }
    &.up-menu {
        top: -66px;
    }
}

.translate {
    ul {
        display: inline-flex;
        background: #0C9681;
        list-style: none;
        padding: 4px;
        border-radius: 30px;
        position: relative;
        li {
           margin-right: 2px;
           &:last-child {
            margin-right: 0;
           } 
        }
        &:after {
            content: "";
            width: 28px;
            height: 28px;
            background: #CDFBDE;
            border-radius: 100%;
            position: absolute;
            left: 4px;
            top: 4px;
            z-index: 1;
            transition: .4s all !important;
        }
        &.active {
            &:after {
                left: 35px;
            }
        }
    }
    a {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        position: relative;
        z-index: 2;
        // pointer-events: unset; 
        &.active {
            // background: #CDFBDE; 
            color: #034853;
            pointer-events: none;
        }
    }
} 
.btn-apply {
    transition: .4s all;
    a {
        font-weight: 700;
        font-size: 24px;
        color: #11AF88;
        display: inline-flex;
        align-items: center;
        svg {
            margin-right: 16px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}
.box-banner {
    position: relative; 
    .img-main {
        width: 100%;
    }
    .img-bn {
        position: absolute;
        bottom: 0;
        z-index: 2;
        right: 0;
    }
    .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 15%;
        z-index: 10;
        h1 {
            color: #034853;
            max-width: 678px;
            font-weight: 800;
            font-size: 56px;
            margin-bottom: 50px;
            transition: .4s all;
        }
    }
}
.box-about {
    background: #11af88;
    background-size: cover;
    padding: 65px 0;
    position: relative;
    z-index: 3;
}

.tree {
    .tree-1 {
        position: absolute;
        top: -200px;
        left: -30px;
        z-index: 1;
    }
    .tree-2 {
        position: absolute;
        right: 0;
        top: -340px;
        z-index: 2;
        transform: rotate(-3deg);
    }
}
.abs-top {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    img {
        height: 50px;
        object-fit: cover;
    }
}
.txt-about {
    position: relative;
    z-index: 2;
}
.box-tabs {
    position: relative;
    z-index: 2;
    .tab-content {
        display: none;
        &.active {
            display: block; 
        }
        ul {
            list-style: none;
            font-size: 20px;
            font-weight: 700;
            label {
                font-weight: 400;
                font-size: 14px;
                display: block;
            }
            li {
                line-height: 1.5;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.tab-about {
    background: #fff;
    padding: 40px;
    border-radius: 24px;
    position: relative;
    z-index: 2;
    min-height: 455px;
}
.about-right {
    max-width: 720px;
    margin: 0 auto;
    // background: #fff; 
    // border-radius: 24px; 
    // padding: 40px; 
    position: relative;
    .desc {
        font-weight: 600;
        line-height: 1.8;
    }
    .title {
        margin-bottom: 50px;
        h2 {
            font-size: 32px;
            color: #034853;
        }
    }
}
.abs-flow {
    img {
        position: absolute;
        bottom: 50px;
        z-index: 1;
    }
    .flow-1 {
        left: 0;
    }
    .flow-2 {
        right: 0;
    }
}
.title {
    h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 48px;
        font-weight: 700;
    }
}
.head-tabs {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 22px 0;
    position: relative;
    margin-bottom: 32px;
    &:after {
        content: "";
        width: 100%;
        height: 4px;
        background: #F3F3F4;
        border-radius: 12px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    li {
        display: flex;
        align-items: center;
        transition: .4s all;
        cursor: pointer;
        position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 4px;
            border-radius: 42px;
            background: #11AF88;
            position: absolute;
            left: 0;
            bottom: -22px;
            z-index: 1;
            transition: .4s all !important;
            opacity: 0;
        }
        &.active, &:hover {
            transition: .4s all;
            .icon {
                background: #11AF88;
                transition: .4s all;
            }
            .info {
                color: #3E4553;
                label {
                    color: #034853;
                }
            }
            &:after {
                opacity: 1;
            }
        }
    }
    .icon {
        background: #696E78;
        transition: .4s all;
        flex: 0 0 42px;
        width: 100%;
        display: flex;
        height: 42px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-right: 8px;
    }
    .info {
        color: #696E78;
        span {
            font-size: 14px;
        }
        label {
            font-weight: 700;
            line-height: 1;
        }
    }
}

.box-discover {
    padding: 80px 0;
    background: #031C2C;
    color: #fff;
    .title {
        margin-bottom: 40px;
    }
    .col-md-4 {
        padding: 15px;
    }
}
.item-discover {
    border-radius: 16px;
    background: #fff;
    color: #101725;
    height: 100%;
    overflow: hidden;
    &:hover {
        img {
            opacity: 0;
        }
    }
    .avarta {
        overflow: hidden;
        position: relative;
        border-radius: 16px 16px 0 0; 
        img {
            transition: .6s all !important;
            position: relative;
            z-index: 2;
            // opacity: 0;  
            &:hover {
                // transform: scale(1.06); 
                opacity: 0;
            }
        }
        lottie-player {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 16px 16px 0 0;
        }
    }
    .info {
        padding: 24px;
    }
    .desc {
        font-weight: 600;
        font-size: 14px;
        color: #696E78;
    }
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}
.list-discover {
    margin-bottom: 65px;
}
.slot-cover {
    a {
        color: #FFFFFF;
        opacity: 0.5;
        font-size: 24px;
        font-weight: 600;
        display: inline-flex;
        line-height: 1.4;
        &:hover {
            opacity: 1;
        }
    }
}
.box-intro {
    padding: 90px 0;
    background: #FAFAFA;
    .title {
        margin-bottom: 40px;
        color: #034853;
    }
    .row {
        margin: 0 -55px;
        .col-md-6 {
            padding: 0 55px;
        }
    }
}
.item-intro {
    .icon {
        margin-bottom: 30px;
    }
    h3 {
        color: #034853;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .desc {
        color: #034853;
        font-weight: 600;
        line-height: 1.5;
        opacity: .8;
        p {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.box-intership {
    background: #031C2C;
    padding: 80px 0 64px 0;
}
.inter-left {
    border-radius: 24px;
    background: #fff;
    overflow: hidden;
    color: #034853;
    font-size: 18px;
    font-weight: 600;
    .avarta {
        overflow: hidden;
        img {
            transition: .6s all !important;
            &:hover {
                transform: scale(1.06);
            }
        }
    }
    .info {
        padding: 24px;
        ul {
            list-style: none;
            li {
                margin-bottom: 6px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.txt-inter {
    color: #fff;
    padding-left: 31px;
    h2 {
        margin-bottom: 20px;
        font-size: 48px;
        font-weight: 700;
        span {
            color: #11AF88;
        }
    }
    .desc {
        font-weight: 600;
        margin-bottom: 28px;
    }
    .head-tabs {
        margin-bottom: 65px;
        padding-bottom: 0;
        &:after {
            display: none;
        }
        label, span {
            color: #fff !important;
        }
        li {
            &:after {
                display: none;
            }
            span, label {
                color: #fff !important;
            }
            .icon {
                background: #696E78 !important;
            }
        }
    }
}
// .btn-start {
//     a {
//         color: #fff;
//         font-size: 24px;
//         font-weight: 700;
//         background: #11AF88;
//         border-radius: 12px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: 72px;
//         overflow: hidden;
//         position: relative;
//         transition-duration: 0.3s;
//         &:hover {
//             color: #11AF88;
//             span {
//                 width: 300px;
//                 height: 300px;
//                 opacity: 1;
//             }
//         }
//         span {
//             content: "";
//             border-radius: 50%;
//             width: 0px;
//             height: 0px; 
//             transform: translate(-50%, -50%);
//             transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
//             background: red;
//             position: absolute;
//             z-index: -1;
//             opacity: 1;
//         }
//     }
// }
.form-studio {
    padding-top: 200px;
}

.link-inter {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    background: #11AF88;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    overflow: hidden;
    position: relative;
    transition-duration: 0.3s;
    z-index: 1001;
    label {
        cursor: pointer;
        z-index: 10;
    }
}

.link-inter:hover {
    color: #11af88;
}

.link-inter span {
    content: "";
    border-radius: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
    background: #fff;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.link-inter:hover span {
    width: 1400px;
    height: 1400px;
    opacity: 1;
    opacity: 1;
}

.loading-svg {
    position: fixed;
    background: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    transition: .3s all !important;
    &.hide-load {
        opacity: 0; 
        pointer-events: none; 
    }
}
