* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Averta";
  src: url("../fonts/AvertaDemo-Regular.woff2") format("woff2"), url("../fonts/AvertaDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/AvertaDemo-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/AvertaDemo-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  transition: 0.3s all;
  position: relative;
  font-weight: 400;
  font-family: "Averta";
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
  text-decoration: none !important;
  transition: 0.3s all;
  margin-bottom: 0;
  outline: none !important;
}
body a {
  transition: 0.3s all !important;
  color: #000000;
}
body ul {
  padding: 0;
  margin: 0;
}
body input, body button {
  outline: none !important;
  box-shadow: none;
  transition: 0.3s all;
}
body .slick-slide {
  height: auto;
}
body .slick-slide img {
  display: inline;
}
body .container {
  width: 100%;
  max-width: 1254px;
}
body img {
  max-width: 100%;
}

footer {
  padding: 40px 0 15px 0;
  background: #2E2E2E;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.fter-top {
  margin-bottom: 30px;
}
.fter-top ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fter-bott li {
  padding-right: 30px;
}
.fter-bott li:last-child {
  padding-right: 0;
}

.header-top {
  padding: 60px 0;
}

.head-right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  color: #4B4B4B;
}
.head-right ul li {
  padding-right: 50px;
}
.head-right ul li:last-child {
  padding-right: 0;
}
.head-right select {
  cursor: pointer;
  color: #000;
  border: 0;
  background: #fff;
  outline: none;
  font-weight: 800;
  -webkit-appearance: none;
  appearance: none;
}
.head-right select::-ms-expand {
  display: none;
}
.head-right a {
  display: inline-flex;
  height: 45px;
  background: #272727;
  color: #fff;
  align-items: center;
  padding: 0 37px 2px 37px;
  border-radius: 30px;
  margin-left: 15px;
}

.box-about {
  background: #EDEDED;
  padding: 120px 0;
}

.box-program {
  background: #404040;
  padding: 120px 0 80px 0;
}
.box-program .title {
  color: #Fff;
  margin-bottom: 70px;
}
.box-program .title h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.box-program .title h2 {
  font-size: 40px;
  font-weight: 800;
}

.list-programs .row {
  margin: 0 -12px;
}
.list-programs .row .col-md-4 {
  padding: 12px;
}

.item-program {
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
  background: #fff;
}
.item-program .avarta {
  overflow: hidden;
}
.item-program .avarta img {
  transition: 0.6s all;
}
.item-program .avarta img:hover {
  transition: 0.6s all;
  transform: scale(1.05);
}
.item-program .info {
  padding: 15px 25px 25px 25px;
}
.item-program .info a {
  font-size: 24px;
  font-weight: 800;
  display: block;
  margin-bottom: 10px;
}
.item-program .info .desc {
  font-size: 14px;
  color: #1A1A1A;
  font-weight: 600;
  line-height: initial;
  opacity: 0.7;
}

.box-intership {
  background: #F8F8F8;
}

.about-left .avarta {
  position: relative;
}
.about-left .avarta .img-rel {
  position: relative;
  z-index: 2;
}
.about-left .avarta .img-abs {
  position: absolute;
  bottom: 0;
  left: 91px;
}

.about-right {
  max-width: 728px;
  background: #fff;
  border-radius: 15px;
}

.txt-about {
  padding: 40px 40px 25px 40px;
}
.txt-about .title {
  margin-bottom: 40px;
}
.txt-about .title h2 {
  font-size: 40px;
  font-weight: 700;
}

.head-tabs {
  display: flex;
  list-style: none;
}
.head-tabs .tab-link {
  display: flex;
  align-items: center;
  opacity: 0.4;
  transition: 0.4s all;
  flex: auto;
  cursor: pointer;
  position: relative;
}
.head-tabs .tab-link:after {
  content: "";
  width: 100px;
  height: 4px;
  background: #464646;
  border-radius: 42px;
  position: absolute;
  left: 8px;
  bottom: -25px;
  transition: 0.4s all;
  opacity: 0;
}
.head-tabs .tab-link:last-child {
  padding-right: 0;
}
.head-tabs .tab-link.active, .head-tabs .tab-link:hover {
  transition: 0.4s all;
  opacity: 1;
}
.head-tabs .tab-link.active:after, .head-tabs .tab-link:hover:after {
  transition: 0.4s all;
  opacity: 1;
}
.head-tabs .tab-link .icon {
  flex: 0 0 42px;
  margin-right: 15px;
  width: 100%;
  height: 42px;
  background: #434343;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.head-tabs .tab-link .info span {
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: 1;
  cursor: pointer;
}
.head-tabs .tab-link .info label {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.box-tabs {
  font-weight: 600;
  background: #F8F8F8;
  padding: 40px;
}
.box-tabs .tab-content {
  display: none;
}
.box-tabs .tab-content.active {
  display: block;
}

.box-joutney {
  padding: 100px 0;
  background: #2E2E2E;
}
.box-joutney .title {
  color: #fff;
  margin-bottom: 55px;
}
.box-joutney .title h2 {
  font-size: 40px;
  font-weight: 800;
}

.list-jour {
  background: #fff;
  overflow: hidden;
  border-radius: 24px;
}
.list-jour .col-md-6 {
  border-right: 2px solid #00000045;
}
.list-jour .col-md-6:last-child {
  border: 0;
}

.item-jour {
  max-width: 486px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  height: 100%;
  position: relative;
}
.item-jour p {
  margin-bottom: 15px;
}
.item-jour p:last-child {
  margin-bottom: 0;
}
.item-jour h3 {
  font-size: 24px;
  font-weight: 800;
  padding: 21px 0 35px 0;
}
.item-jour .i-face {
  position: absolute;
  left: calc(50% - 24px);
  top: 10px;
}

.box-intership {
  background: #F8F8F8;
  padding: 60px 0;
}
.box-intership .slide-left {
  max-width: 520px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #Fff;
}
.box-intership .slide-left .desc {
  font-size: 18px;
  font-weight: 600;
  padding: 30px;
}
.box-intership .slide-left .desc p {
  margin-bottom: 7px;
}
.box-intership .slide-left .desc p:last-child {
  margin-bottom: 0;
}
.box-intership .head-tabs {
  padding: 22px;
  background: #fff;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 30px;
}
.box-intership .head-tabs .tab-link {
  opacity: 1;
}
.box-intership .head-tabs .tab-link:after {
  display: none;
}
.box-intership .btn-regis {
  margin-bottom: 66px;
}
.box-intership .info-bott {
  background: #EEEEEE;
  border-radius: 16px;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 400;
}
.box-intership .info-bott h3 {
  text-transform: uppercase;
  color: #5F5F5F;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.box-intership .info-bott p {
  margin-bottom: 8px;
}
.box-intership .info-bott p:last-child {
  margin-bottom: 0;
}

.slick-slider {
  margin-bottom: 0;
}

.slide-avarta .item img {
  width: 100%;
}

.slick-dots {
  bottom: 0;
  right: 15px;
  display: inline-flex;
  width: 14px;
  height: auto;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
}
.slick-dots li {
  width: 14px;
  height: 14px;
  background: #C4C4C4;
  border-radius: 100%;
  flex: 0 0 100%;
}
.slick-dots li.slick-active {
  background: #393939;
}
.slick-dots li button {
  display: none !important;
}

.txt-inter {
  padding-top: 30px;
}
.txt-inter .title h2 {
  font-size: 50px;
  font-weight: 800;
  position: relative;
  width: fit-content;
  margin-bottom: 25px;
}
.txt-inter .title h2 span {
  font-size: 24px;
  font-weight: 800;
  display: inline-flex;
  height: 35px;
  align-items: center;
  background: #C4C4C4;
  border-radius: 19px;
  width: 84px;
  justify-content: center;
  position: absolute;
  top: -17px;
  right: 0;
}
.txt-inter .desc {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 30px;
}

.btn-regis a {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  height: 59px;
  color: #fff;
  background: #1F1F1F;
  border-radius: 17px;
}

.max-740 {
  max-width: 740px;
  width: 100%;
}

.title-main h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 70px;
}

.item-form {
  margin-bottom: 70px;
}
.item-form ul {
  list-style: none;
}
.item-form ul li {
  margin-bottom: 20px;
}
.item-form ul li:last-child {
  margin-bottom: 0;
}
.item-form input[type=text] {
  font-size: 32px;
  font-weight: 700;
  border: 0;
  border-bottom: 1px solid #000000;
  width: 100%;
  height: 40px;
}
.item-form textarea {
  font-size: 32px;
  font-weight: 700;
  border: 0;
  border-bottom: 1px solid #000000;
  width: 100%;
  height: 90px;
  line-height: 1.2;
  outline: none;
}
.item-form input[type=submit] {
  height: 98px;
  background: #000000;
  border-radius: 24px;
  min-width: 295px;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
}

.title-form {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title-form span {
  display: block;
  line-height: 1.2;
  font-size: 18px;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
